
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- header section end -->
<!-- banner section start -->
<div class="banner_section layout_padding">
    <div class="container">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="banner_taital">
                                <h1 class="banner_taital">Tec Amigable Empresa</h1>
                                <p class="banner_text">Construir las mejores soluciones a mano de la ingeniería con ideas de transformar y mejorar la funcionalidad de las empresas.</p>
                            </div>
                            <div class="btn_main">
                                <div class="quote_bt active"><a href="#">Confianza</a></div>
                                <div class="contact_bt"><a href="#">Reportes</a></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div><img src="~/img/logo3.jpeg" class="banner_img"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Empresa Tec Amigable</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Cuenta con la mejor Tecnologia</p>
                </div>
            </div>
        </header>
        <link href="~/Content/styles2.css" rel="stylesheet" />
        <script src="~/Scripts/scripts.js"></script>
        <link rel="stylesheet" src="~/img/logo3.jpeg" />*@



    <link href="~/Content/styles2.css" rel="stylesheet" />
    <!-- Features section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">



                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">Mision</h2>
                    <p>Construir las mejores soluciones a mano de la ingeniería con ideas de transformar y mejorar la funcionalidad de las empresas.</p>
                    <a class="text-decoration-none" href="#!">

                    </a>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <h2 class="h4 fw-bolder">VISION</h2>
                    <p>Convertirnos en la compañía de tecnología más atractiva y diferenciadora del campo de la ingeniería con los demás.</p>
                    <a class="text-decoration-none" href="#!">

                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                    <h2 class="h4 fw-bolder">ESTRUCTURA ORGANIZACIONAL</h2>
                    <p>Distribución de las funciones de la empresa según sus especializaciones y capacidades de cada trabajador. </p>
                    <a class="text-decoration-none" href="#!">

                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing section-->
    <!--<section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Pay as you grow</h2>
                <p class="lead mb-0">With our no hassle pricing plans</p>
            </div>
            <div class="row gx-5 justify-content-center">
            </div>
        </div>-->
    <link href="~/Content/style3.css" rel="stylesheet" />

    <!-- services section start -->
    <div class="services_section layout_padding">
        <div class="container">
            <h1 class="services_taital">Nuestros <span style="color: #0c426e">Servicios</span></h1>
            <p class="services_text">Ayudemos todos en la mejora de Nuestro ambiente</p>
            <div class="services_section_2 layout_padding">
                <div class="row">
                    <div class="col-md-4 padding_right_0">
                        <div class="services_box">
                            <h4 class="express_text">Reciclaje</h4>
                            <p class="lorem_text">es el proceso de recolección y transformación de materiales para convertirlos en nuevos productos, y que de otro modo serían desechados como basura. </p>
                            @*<div class="seemore_bt"><a href="#">See More</a></div>*@
                            <div><img src="~/img/logo1.jpg" class="image_1"></div>

                        </div>
                    </div>
                    <div class="col-md-4 padding_0">
                        <div class="services_box">
                            <div><img src="~/img/logo5.jpg" class="image_1"></div>
                            <h4 class="express_text">Camion Reciclaje</h4>
                            <p class="lorem_text">Es una unidad equipada con una carrocería con capacidad para recolectar toneladas de residuos sólidos, como: basura o desechos industriales. Esta unidad, posee un mecanismo especial para la recolección y posterior descarga de los elementos recolectados. </p>
                            @*<div class="seemore_bt"><a href="#">See More</a></div>*@
                        </div>
                    </div>
                    <div class="col-md-4 padding_left_0">
                        <div class="services_box">
                            <h4 class="express_text">Proceso de Reciclaje</h4>
                            <p class="lorem_text">Acciones de recogida de determinados productos, que de no ser recuperados de forma adecuada se convierten en residuos. Algunos de estos son materiales como el cartón, la madera o los plásticos, que pueden convertirse en nuevos productos con el tratamiento adecuado.</p>
                            @*<div class="seemore_bt"><a href="#">See More</a></div>*@
                            <div><img src="~/img/recicla1.jpg" class="image_1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
        </div>

        <div>
        </div>

    </div>
    <section>
    </section>
    <!-- Testimonials section-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Algunos Consejos</h2>
                <p class="lead mb-0">Our customers love working with us</p>
            </div>
        </div>
    </section>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <!-- Testimonial 1-->
            <div class="card mb-4">
                <div class="card-body p-4">
                    <div class="d-flex">
                        <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                        <div class="ms-4">
                            Estos son algunos de los efectos beneficiosos que tiene el reciclaje: Permite ahorrar energía de forma significativa. Es menos costoso reciclar un material que fabricarlo desde cero, como ocurre por ejemplo con el vidrio. </p>
                            @*<div class="small text-muted">- Client Name, Location</div>*@
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial 2-->
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex">
                        <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                        <div class="ms-4">
                            <p class="mb-1">El reciclar o el reciclaje es un acto de suma importancia para la sociedad ya que el mismo supone la reutilización de elementos y objetos de distinto tipo que de otro modo serían desechados, contribuyendo a formar más cantidad de basura y, en última instancia, dañando de manera continua al planeta.</p>
                            @*<div class="small text-muted">- Client Name, Location</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <section>
    </section>
<!-- Contact section-->
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
            <h2 class="fw-bolder">Realiza tu reporte de Reciclaje </h2>
            <p class="lead mb-0">Contamos Contigo</p>
        </div>
    </div>
</section>


























<!-- Section-->
<section>
    <div class="container-fluid px-5 my-5">

        <div class="row">

            <div class="col-sm-3">


                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                Categorias
                            </div>
                            <div id="contenedor_categoria" class="card-body">

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                Niveles de Contaminacion
                            </div>
                            <div id="contenedor_marca" class="card-body">

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="d-grid gap-2">
                            <button id="btnaplicarfiltro" class="btn btn-outline-dark btn-block" type="button">
                                <i class="fas fa-filter"></i>Aplicar Filtros
                            </button>
                        </div>
                    </div>

                </div>



            </div>

            <div class="col-sm-9">

                <nav aria-label="Page navigation example">
                    <p class="text-black-50">
                        Tipos de Residuos encontrados <span id="totalregistros">0</span>
                    </p>

                    <ul class="pagination justify-content-start">
                        <li class="page-item disabled">
                            <button class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</button>
                        </li>
                        <li class="page-item active"><button class="page-link" href="#">1</button></li>
                        <li class="page-item"><button class="page-link" href="#">2</button></li>
                        <li class="page-item"><button class="page-link" href="#">3</button></li>
                        <li class="page-item">
                            <button class="page-link" href="#">Next</button>
                        </li>
                    </ul>
                </nav>

                <div id="contenedor_producto" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>


        </div>


    </div>
</section>


@section scripts{

    <script>


        var _PaginaActual = 1;

        $(document).ready(function () {

            MostrarCategorias();
            MostrarProductos(0, 0)
        })



        function MostrarCategorias() {


            jQuery.ajax({
                url:"@Url.Action("ListaCategorias", "Tienda")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {

                    $("#contenedor_categoria").LoadingOverlay("hide");

                    $("<div>").addClass("form-check").append(

                        $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "categoria", "value": "0", "id": "cx", "checked": "checked" }),
                        $("<label>").addClass("form-check-label").text("Todos").attr({ "for": "cx"})
                    ).appendTo("#contenedor_categoria")


                    $.each(response.data, function (i, element) {

                        $("<div>").addClass("form-check").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "categoria", "value": element.IdCategoria, "id": "c" + i}),
                            $("<label>").addClass("form-check-label").text(element.Descripcion).attr({ "for": "c" + i})
                        ).appendTo("#contenedor_categoria")

                    })

                    MostrarMarca();

                },
                beforeSend: function () {
                    $("#contenedor_categoria").LoadingOverlay("show");
                }

            })

        }


        function MostrarMarca() {

            var _idcategoria = $("input[name=categoria]:checked").val()

            jQuery.ajax({
                url:"@Url.Action("ListarMarcaporCategoria", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idcategoria: _idcategoria}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#contenedor_marca").html("");
                    $("#contenedor_marca").LoadingOverlay("hide");

                    $("<div>").addClass("form-check").append(

                        $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "marca", "value": "0", "id": "mx", "checked": "checked" }),
                        $("<label>").addClass("form-check-label").text("Todos").attr({ "for": "mx"})
                    ).appendTo("#contenedor_marca")


                    $.each(response.data, function (i, element) {

                        $("<div>").addClass("form-check").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "marca", "value": element.IdMarca, "id": "m" + i}),
                            $("<label>").addClass("form-check-label").text(element.Descripcion).attr({ "for": "m" + i})
                        ).appendTo("#contenedor_marca")

                    })

                },
                beforeSend: function () {
                    $("#contenedor_marca").LoadingOverlay("show");
                }

            })

        }

        $(document).on("change", "input[name=categoria]", function () {
            MostrarMarca();

        })


         function MostrarProductos(_idcategoria,_idmarca) {


            jQuery.ajax({
                url:"@Url.Action("ListarProducto", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idcategoria: _idcategoria, idmarca: _idmarca, nroPagina : _PaginaActual}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#contenedor_producto").html("");
                    $("#contenedor_producto").LoadingOverlay("hide");

                    $.each(response.data, function (i, element) {

                        //-----------------------------------------------------------------
                        //    SIMBOLOS
                        //-------------------------------------------------------------------

                        $("<div>").addClass("col mb-5").append(
                            $("<div>").addClass("card h-100").append(
                                /*$("<img>").addClass("card-img-top").attr({ "src": "data:image/" + element.Extension + ";base64," + element.Base64 }),*/
                                $("<img>").addClass("card-img-top").attr({ "src": element.RutaImagen }),
                                $("<div>").addClass("card-body p-4").append(
                                    $("<div>").addClass("text-center").append(
                                        $("<h5>").addClass("fw-bolder").text(element.Nombre),
                                        /*"S/ " + element.Precio.toFixed(2) + ""*/

                                    )
                                ),
                                 $("<div>").addClass("card-footer p-2 pt-0 border-top-0 bg-transparent").append(


                                     $("<div>").addClass("d-grid gap-2").append(

                                         @if (Session["Cliente"] != null) {

                                             @:$("<button>").addClass("btn btn-success mt-auto agregarcarrito").data("idproducto",element.IdProducto).text("Agregar al Informe"),

                                         }

                                         $("<a>").addClass("btn btn-dark mt-auto")
                                             .attr({"href":"@Url.Action("DetalleProducto","Tienda")" + "?idproducto=" + element.IdProducto})
                                             .text("Ver detalle")

                                     )



                                 )

                            )

                        ).appendTo("#contenedor_producto")

                    })



                    //EMPIEZA LOGICA
                    $("#totalregistros").text(response.totalRegistros);
                    var desactivo_ant = _PaginaActual == 1 ? " disabled" : ""
                    var desactivo_sig = response.totalPaginas == _PaginaActual ? " disabled" : ""
                    var rango = [];


                    if (_PaginaActual == 1)
                        rango.push(_PaginaActual, _PaginaActual + 1, _PaginaActual + 2)
                    else if (_PaginaActual == response.totalPaginas)
                        rango.push(_PaginaActual - 2, _PaginaActual - 1, _PaginaActual)
                    else
                        rango.push(_PaginaActual - 1, _PaginaActual, _PaginaActual + 1)

                    $(".pagination").html("");
                    $(".pagination").append(
                        $("<li>").addClass("page-item" + desactivo_ant).append(
                            $("<button>").addClass("page-link previus").text("Anterior")
                        )
                    )


                    for (nroPagina = 1; nroPagina <= response.totalPaginas; nroPagina++) {
                        if (rango.includes(nroPagina)) {
                            var clase = (nroPagina == _PaginaActual) ? " active" : "";
                            $(".pagination").append(
                                $("<li>").addClass("page-item" + clase).append(
                                    $("<button>").addClass("page-link").text(nroPagina)
                                )
                            )
                        }
                    }

                    $(".pagination").append(
                        $("<li>").addClass("page-item" + desactivo_sig).append(
                            $("<button>").addClass("page-link next").text("Siguiente")
                        )
                    )



                },
                beforeSend: function () {
                    $("#contenedor_producto").LoadingOverlay("show");
                }

            })

        }



        $("#btnaplicarfiltro").click(function () {

            _PaginaActual = 1
            var _idcategoria = $("input[name=categoria]:checked").val()
            var _idmarca = $("input[name=marca]:checked").val()
            MostrarProductos(_idcategoria, _idmarca)

        })



        $(document).on("click", "button.page-link", function () {

            if ($(this).hasClass("previus")) {
                _PaginaActual = _PaginaActual - 1;
            } else if ($(this).hasClass("next")) {
                _PaginaActual = _PaginaActual + 1;
            } else {
                _PaginaActual = parseInt($(this).text())
            }

            var idcategoria = $('input[name=categoria]:checked').val();
            var idmarca = $('input[name=marca]:checked').val();
            MostrarProductos(idcategoria, idmarca)

        })



        $(document).on("click", "button.agregarcarrito", function () {

            console.log($(this).data("idproducto"))

            jQuery.ajax({
                url: '@Url.Action("AgregarCarrito", "Tienda")',
                type: "POST",
                data: JSON.stringify({ idproducto: $(this).data("idproducto") }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.respuesta) {

                        MostrarCantidadCarrito();

                        swal({
                            title: "Agregado al carrito",
                            text: "¿Desea ir al carrito?",
                            type: "success",
                            showCancelButton: true,
                            confirmButtonClass: "btn-primary",
                            confirmButtonText: "Si",
                            cancelButtonText: "No",
                            closeOnConfirm: true
                        }, function () {

                            window.location.href = '@Url.Action("Carrito","Tienda")'

                        })
                    } else {
                        swal("", data.mensaje, "warning");
                    }
                }

            });

        })


    </script>


}
